body {
    /* background: radial-gradient(#40abfce7, #1f8de1); */
    background: #f97c2fd7;
    height: 100%;
    color: white;
}

.media-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-brand {
    font-size: 2em;
    letter-spacing: .1em;
}

.page-title {
    text-align: center;
}

.media-body a {
    color: white;
    /* text-decoration: underline; */
}

.social-icon {
    height: 50px;
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

.kyle   {
    width: 20%;
    border: 2px dotted white;
    /* border-radius: 40px; */
    /* -webkit-filter: drop-shadow(10px 10px 10px black);
    filter: drop-shadow(10px 10px 10px black); */
}

.social-media{
    display: flex;
    justify-content: space-between;
}

.screenshot {
    max-width: 50%;
    border-radius: 10px;
}

.logo {
    max-width: 75px;
}

.text-logo {
    height: 50px;
}

.footer {
    height: 50px;
    margin: 50px;
}

.footer-div {
    text-align: center;
}

.social-label {
    margin-top: 5px;
}

.carousel {
    width: 75%;
    margin: auto;
}

.carousel-inner {
    border-radius: 10px;
}

.habit-carousel .carousel-control-prev-icon, .otterflow-carousel .carousel-control-prev-icon, .freeshelf-carousel .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2308A' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.habit-carousel .carousel-control-next-icon, .otterflow-carousel .carousel-control-next-icon, .freeshelf-carousel .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2308A' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.media-body .fill {
    min-height: 1rem;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    letter-spacing: 1.2px;
    font-size: 1rem;
    border: 1px solid #fff;
    border-radius: 40px;
    background-color: #fff;
    /* display: block; */
    color: #0066ff;
    padding: 8px;
    text-align: center;
    outline: none;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 5%;
    align-self: center;
    -webkit-filter: drop-shadow(6px 5px 5px #105ccc);
    filter: drop-shadow(6px 5px 5px #105ccc);
}

.project-links {
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
}