body {
    background: radial-gradient(#1f8de180, #1f8de1);
    height: 100%;
}

.social-icon {
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

.kyle   {
    width: 20%;
    border-radius: 40px;
}

.social-media{
    display: flex;
    justify-content: space-between;
}

.screenshot {
    max-width: 50%;
    border-radius: 10px;
}

.social-icon {
    height: 50px;
}

